@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  /* Colors */
  --brand-color: #e54725;
  --brand-text-color: #50545a;

  /* Text */
  --text-p: 1rem;
  --text-h1: 3rem;
  --hero-h1: 5rem;
  --text-h2: 2rem;
  --text-h3: 1.75rem;
  --text-h4: 1.5rem;

  /* Images and Icons */
  --hero-logo: 6rem;
}

/* ------------------------- Main Elements */

body {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

p {
  font-size: var(--text-p);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

/* ------------------------- Colors */

.sprints p {
  color: var(--brand-text-color);
}

.sprints h4 {
  color: var(--brand-color);
}

.hero-help p {
  color: var(--brand-text-color);
}

.hero-help h1,
h3,
a {
  color: var(--brand-color);
}

.hero-faq p {
  color: var(--brand-text-color);
}

.hero-faq h1,
h3,
a {
  color: var(--brand-color);
}

.navbar-light .navbar-nav .active > .nav-link {
  color: var(--brand-color);
}

header {
  z-index: 10;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.21);
  background: #fff;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: var(--brand-color);
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
}

.btn-primary:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
  background-color: #fff;
}

.btn-light.focus,
.btn-light:focus {
  background-color: #fff;
  border-color: #fff;
  color: var(--brand-color);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light:not(:disabled):not(.disabled):active {
  color: var(--brand-color);
  background-color: #fff;
  border-color: #fff;
}

.btn-light:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light:hover {
  color: var(--brand-color);
  border-color: #fff;
  background-color: #fff;
}

.btn-light {
  color: var(--brand-color);
}

.topnav a:hover {
  border-bottom: 1px solid var(--brand-color);
}

/* ------------------------- Nav Button Styles */

.navbar-light .navbar-nav .nav-link {
  color: var(--brand-text-color);
  margin-right: 0.8rem;
}

.btn-primary {
  background-color: var(--brand-color);
  border-color: #fff;
  width: 7rem;
  color: #fff;
}

/* ------------------------- Hero Section */

.hero-index {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("https://i.imgur.com/ZnyFklO.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/ZnyFklO.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/ZnyFklO.jpg");
  color: #fff;
  height: 92vh;
}

.hero-slack {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("https://i.imgur.com/zm38JBN.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/zm38JBN.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/zm38JBN.jpg");
  color: #fff;
  height: 92vh;
}

.hero-topics {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("https://i.imgur.com/4XKa50N.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/4XKa50N.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/4XKa50N.jpg");
  color: #fff;
  height: 92vh;
}

.hero-signup {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
}

.hero-signup form {
  text-align: left;
  margin-bottom: 3rem;
}

.hero-signup ::-webkit-input-placeholder {
  color: #bebebe;
  font-weight: 300;
}

.hero-signup ::-moz-placeholder {
  color: #bebebe;
  font-weight: 300;
}

.hero-signup :-ms-input-placeholder {
  color: #bebebe;
  font-weight: 300;
}

.hero-signup ::-ms-input-placeholder {
  color: #bebebe;
  font-weight: 300;
}

.hero-signup ::placeholder {
  color: #bebebe;
  font-weight: 300;
}

.hero-signup .privacy {
  color: var(--brand-text-color);
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.hero-signup .terms {
  color: var(--brand-text-color);
}

.hero-signup h2,
i,
span {
  color: var(--brand-color);
}

.hero-signup h2 {
  font-size: var(--text-h1);
}

.hero-signup i {
  font-size: var(--hero-h1);
  margin-top: 3rem;
}

.hero-signup .btn {
  width: 12rem;
  font-size: var(--text-h4);
}

.hero-logo {
  text-align: left;
  display: flex;
  vertical-align: middle;
}

.hero-logo img {
  margin-right: 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero img {
  height: var(--hero-logo);
}

.hero h1 {
  font-size: var(--hero-h1);
  margin-bottom: 1.5rem;
}

.hero h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero h3 {
  font-weight: 300;
  color: #fff;
}

.hero .btn {
  padding: 0.5rem;
  margin-top: 2rem;
}

.hero .btn-index {
  width: 12rem;
  font-size: var(--text-h4);
}

/* ------------------------- What You Get Section */

.fa-check-circle {
  color: #fff;
  font-size: 2rem;
}

.what-you-get {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.get-title {
  margin-bottom: 2rem;
}

.get-title h2 {
  display: inline-block;
  color: #fff;
  margin-left: 0.5rem;
}

.what-you-get h4,
p {
  color: #fff;
}

/* ------------------------- Academy's Objectives */

.fa-bullseye {
  color: var(--brand-color);
  font-size: 2rem;
}

.objectives {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.objectives-title h2 {
  display: inline-block;
  color: var(--brand-color);
  margin-left: 0.5rem;
}

.objectives-title {
  margin-bottom: 2rem;
}

.objectives h4 {
  color: var(--brand-color);
}

.objectives p {
  color: var(--brand-text-color);
}

/* ------------------------- Change The World */

.change-world {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.change-world a {
  width: 10rem;
  font-size: var(--text-h4);
  margin-bottom: 1rem;
}

.change-world h2 {
  display: inline-block;
  color: var(--brand-text-color);
  font-weight: 700;
}

.change-title {
  margin-bottom: 1.5rem;
}

.change-world h4 {
  color: var(--brand-text-color);
  margin-bottom: 2.5rem;
}

.change-world p {
  color: var(--brand-text-color);
}

/* ------------------------- Topics Page Sprints */

.sprints img {
  width: 100%;
  border-radius: 0.25rem;
}

.sprints {
  width: 70vw;
  margin: 5rem auto;
}

/* ------------------------- Slack Page Hero */

.hero .btn-slack {
  width: 19rem;
  font-size: var(--text-h4);
}

/* ------------------------- Help Page */

.hero-help {
  width: 70vw;
  margin: 5rem auto;
}

.hero-help h1 {
  margin-bottom: 1.5rem;
}

.hero-help h3 {
  margin-top: 2.5rem;
}

.hero-help a:hover {
  color: var(--brand-color);
  text-decoration: none;
}

/* ------------------------- FAQ Page */

.hero-faq {
  width: 70vw;
  margin: 5rem auto;
}

.hero-faq h1 {
  margin-bottom: 1.5rem;
}

.hero-faq h3 {
  margin-top: 2.5rem;
}

.hero-faq a:hover {
  color: var(--brand-color);
  text-decoration: none;
}

/* ------------------------- Footer */

.bg-footer {
  background: var(--brand-color);
  width: 100%;
  height: 150%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 3rem;
}

footer .row {
  margin-top: 1.3rem;
}

footer a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.8rem;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

footer .footer-logo a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid var(--brand-color);
}

.button-message {
  text-align: right;
  font-weight: 300;
  padding-right: 0;
}

.footer-copyright {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.9rem;
}

.btn-light {
  width: 8rem;
}

/* ------------------------- Media Queries */

@media (max-width: 420px) {
  :root {
    /* Text */
    --text-p: 0.9rem;
    --text-h1: 2rem;
    --hero-h1: 3rem;
    --text-h2: 1.5rem;
    --text-h3: 1.25rem;
    --text-h4: 1.2rem;

    /* Images & Logos */
    --hero-logo: 4rem;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }

  .hero-slack .btn-slack {
    width: 16rem;
  }

  .hero-signup {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
  }

  .hero-faq {
    width: 90vw;
    margin: 5rem auto;
  }

  .hero-help {
    width: 90vw;
    margin: 5rem auto;
  }

  .sprints {
    width: 90vw;
  }
}

@media (max-width: 991px) {
  :root {
    /* Text */
    --text-p: 0.9rem;
    --text-h1: 2rem;
    --hero-h1: 3rem;
    --text-h2: 1.5rem;
    --text-h3: 1.25rem;
    --text-h4: 1.2rem;

    /* Images & Logos */
    --hero-logo: 4rem;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .button-message {
    text-align: center;
  }

  .topnav {
    text-align: center;
  }

  .topnav .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hero-topics {
    background-size: auto 100%;
    background-position: center;
  }

  .hero-slack {
    background-size: auto 100%;
    background-position: center;
  }

  .hero-index {
    background-size: auto 100%;
    background-position: center;
  }

  .sprints {
    width: 80vw;
    margin: 3rem auto 5rem auto;
  }

  .hero {
    background-attachment: scroll;
  }

  .hero-logo {
    display: block;
  }

  .hero-logo h1 {
    display: block;
  }
}
