@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --brand-color: #ff4100;
  --brand-text-color: #50545a;
}

/* ------------------------- Main Font */

body {
  font-family: "Lato", sans-serif;
}

/* ------------------------- Colors */

.navbar-light .navbar-nav .active > .nav-link {
  color: var(--brand-color);
}

header {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.21);
  background: #fff;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: var(--brand-color);
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 65, 0, 0.5);
}

.btn-primary:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
  background-color: #fff;
}

.btn-light.focus,
.btn-light:focus {
  background-color: #fff;
  border-color: #fff;
  color: var(--brand-color);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light:not(:disabled):not(.disabled):active {
  color: var(--brand-color);
  background-color: #fff;
  border-color: #fff;
}

.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-light:hover {
  color: var(--brand-color);
  border-color: #fff;
  background-color: #fff;
}

.btn-light {
  color: var(--brand-color);
}

.topnav a:hover {
  border-bottom: 1px solid var(--brand-color);
}

/* ------------------------- Nav Button Styles */

.navbar-light .navbar-nav .nav-link {
  color: var(--brand-text-color);
  margin-right: 0.8rem;
}

.btn-primary {
  background-color: var(--brand-color);
  border-color: #fff;
  width: 7rem;
  color: #fff;
}

/* ------------------------- Footer */

.bg-footer {
  background: var(--brand-color);
  width: 100%;
  height: 150%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 3rem;
}

footer .row {
  margin-top: 1.3rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

.button-message {
  text-align: right;
  font-weight: 300;
  padding-right: 0;
}

.footer-copyright {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.9rem;
}

@media (max-width: 961px) {
  .footer-logo {
    margin-bottom: 1rem;
  }

  .button-message {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .footer-copyright {
    font-size: 0.8rem;
  }
}

.btn-light {
  width: 8rem;
}
